{% extends "base.html" %}

{% block extrahead %}
  {% if config.extra.environment == "prod" %}
    <meta name="googlebot" content="index,follow"/>
    <meta name="robots" content="index,follow"/>
  {% else %}
    <meta name="googlebot" content="noindex,nofollow"/>
    <meta name="robots" content="noindex,nofollow"/>
  {% endif %}
{% endblock %}

{% block libs %}
  {% if config.extra.environment == "prod" %}
    {# Leadfeeder #}
    <script> (function(ss,ex){ window.ldfdr=window.ldfdr||function(){(ldfdr._q=ldfdr._q||[]).push([].slice.call(arguments));}; (function(d,s){ fs=d.getElementsByTagName(s)[0]; function ce(src){ var cs=d.createElement(s); cs.src=src; cs.async=1; fs.parentNode.insertBefore(cs,fs); }; ce('https://sc.lfeeder.com/lftracker_v1_'+ss+(ex?'_'+ex:'')+'.js'); })(document,'script'); })('3P1w24dxn2k4mY5n'); </script>

    {# Mouseflow #}
    <script type="text/javascript">
      window._mfq = window._mfq || [];
      (function() {
        var mf = document.createElement("script");
        mf.type = "text/javascript"; mf.defer = true;
        mf.src = "//cdn.mouseflow.com/projects/00dd0e5e-d30d-4b59-a7cc-fbacc9ea1f57.js";
        document.getElementsByTagName("head")[0].appendChild(mf);
      })();
    </script>
  {% endif %}
{% endblock %}

{% block scripts %}
  {{ super() }}

  {% if config.extra.environment == "prod" %}
    {# HubSpot #}
    <script type="text/javascript" id="hs-script-loader" async defer src="//js.hs-scripts.com/7706335.js"></script>
  {% endif %}
{% endblock %}



{% block content %}
  <div>
    <div class="mobile-nav-wrapper" {{ hidden }}>
      <a href="{{ config.extra.homepage | d(nav.homepage.url, true) | url }}" title="{{ config.site_name | e }}" class="md-header__button md-logo logo--small" aria-label="{{ config.site_name }}" data-md-component="logo">
        {% include "partials/logoMobile.html" %}
      </a>
      <label for="__drawer" class="close-button">
        {% include "partials/close.html" %}
      </label>
    </div>

    {{ super() }}
  </div>
{% endblock %}

